/*Index Page CSS*/
* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(
            to right,
            gold 0%, 
            gold 68%, 
            black 32%, 
            black 0%);
    background-position: fixed;
    background-size: cover;
}

.topHeader {
    overflow: hidden;
    padding: 35px;
}

.topHeader a {
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 70px 80px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
}

.topHeader a:hover {
    background-color: whitesmoke;
    color: red;
}

.details {
    margin-left: 5%;
    margin-top: 14%;
}

.details h1 {
    font-size: 55px;
    color: black;
    margin-bottom: 20px;
}

span {
    color: white;
}

.details a {
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 70px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 75%;
    position: relative;
    top: 5%;
    left: 65%;
    bottom: 10%;
    transform: translateX(-50%);
    border-radius: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
}